$global-primary-background: #0e76a8;
$alert-danger-color: #c0111c;
$global-link-color: $global-primary-background;
$global-border: #555;

@import '~uikit/src/scss/variables-theme.scss';
@import '~uikit/src/scss/mixins-theme.scss';

@import '~uikit/src/scss/uikit-theme.scss';

html {
  height: 100%;
  position: relative;
}

body {
  min-height: 100%;
  position: relative;
  background-image: url('/exclusive_paper.png');
}
